{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react",
    "plugin:unicorn/recommended"
  ],
  "rules": {
    "unicorn/filename-case": "off"
  },
  "plugins": [
    "unicorn"
  ]
}
